.my-header{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    background-image: url("img/background/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}
.my-nav{
    background-color: white !important;
    display: flex !important;
    justify-content: space-between !important;
}

.nav-item {
    margin-right: 20px;
}

.carousel-indicators li {
    background-color: #CECECE;
    height: 10px;
    border-radius: 6px;
    border: 1px solid #CECECE;
    width: 2%;
}

.carousel-indicators .active {
    background-image: linear-gradient(45deg, #FF9C35, #FFD019);
    height: 10px;
    border-radius: 6px;
    border: 1px solid;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
    border-image: linear-gradient(45deg, #FF9C35, #FFD019);
    width: 7%;
}

.btn{
    background-color: #333!important;
    color: white!important;
}